@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  @include background();
  background: $primary-color;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: set-text-color($primary-color);
}

h1,
h2,
h3 {
  font-weight: 100;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 5rem;
    padding: 0.2rem 0;
  }
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}
main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;
  }
  a {
    padding: 0.5rem;
    &:hover {
      color: $secondary-color-hover;
      @include easeOut();
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.info-about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

// Projects page
.projects {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px solid #fff;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color-hover;
      @include easeOut;
    }
  }
}
// Contact page
.boxes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border: 3px solid #fff;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      cursor: pointer;
      padding: 0.5rem 1rem;
      background: $secondary-color-hover;
      color: set-text-color($secondary-color-hover);
      span {
        color: set-text-color($secondary-color-hover);
      }
    }
  }
}

// Buttons
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color-hover;
    color: set-text-color($secondary-color-hover);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

// Footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}
